@model MyApp.Models.ViewModels.BlogIssueVM

@{
    ViewData["Title"] = "EditCategory";
    var creatUpdate = Model.BlogIssue == null || Model.BlogIssue.IssueId == 0 ? "Create" : "update";
    var creatUpdateUrdu = Model.BlogIssue == null || Model.BlogIssue.IssueId == 0 ? "بنائیں" : "تبدیل کریں";

}

<h1 class="text-capitalize">درجہ بندی @creatUpdateUrdu </h1>

<h4>PostCategory</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="BlogIssue" asp-action="CreateUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogIssue.IssueId" />

            <div class="form-group">
                <label asp-for="BlogIssue.IssueTitle" class="control-label">ایسو </label>
                <input asp-for="BlogIssue.IssueTitle" class="form-control" />
                <span asp-validation-for="BlogIssue.IssueTitle" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <label asp-for="BlogIssue.IssueDescription" class="control-label"> تعارف </label>
                <textarea asp-for="BlogIssue.IssueDescription" class="form-control" ></textarea>
                <span asp-validation-for="BlogIssue.IssueDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="@creatUpdateUrdu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

